*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#111;
color:white;
}

header{
height:80px;
background:black;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 50px;
position:fixed;
width:100%;
z-index:10;
}

.logo{
font-size:30px;
font-weight:bold;
}

.logo span{
color:#ff5b00;
}

nav a{
margin:0 15px;
text-decoration:none;
color:white;
font-size:14px;
}

button{
background:#ff5b00;
color:white;
border:none;
padding:12px 25px;
border-radius:5px;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.65)),
url("hero-reference.png");

background-size:cover;
background-position:center top;
background-repeat:no-repeat;

display:flex;
align-items:center;

padding-top:80px;
}

.overlay{
margin-left:80px;
max-width:700px;
}

.small{
color:#ff5b00;
margin-bottom:20px;
}

h1{
font-size:72px;
line-height:1;
}

h1 span{
color:#ff5b00;
}

.buttons{
margin-top:40px;
}

.orange{
background:#ff5b00;
padding:15px 30px;
margin-right:20px;
border-radius:6px;
}

.transparent{
border:1px solid white;
padding:15px 30px;
border-radius:6px;
}

.simu{
padding:100px;
display:flex;
background:white;
color:black;
align-items:center;
gap:60px;
}

.left{
flex:1;
}

.left h2 span{
color:#ff5b00;
}

.icons{
display:flex;
margin-top:50px;
gap:40px;
}

.right{
flex:1;
}

.right img{
width:100%;
border-radius:20px;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
align-items:stretch;
flex-wrap:wrap;
margin-top:50px;
}

.card{
width:350px;
height:260px;
position:relative;
overflow:hidden;
border-radius:20px;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

.overlay{
position:absolute;
bottom:0;
left:0;
right:0;
padding:20px;
background:linear-gradient(
transparent,
rgba(0,0,0,0.95)
);
color:white;
}

.overlay h3{
margin-bottom:10px;
}

.card{
position:relative;
height:300px;
overflow:hidden;
border-radius:20px;
background:#000;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

.overlay{
position:absolute;
bottom:0;
left:0;
right:0;

padding:25px;

background:linear-gradient(
transparent,
rgba(0,0,0,.95)
);

color:white;
}

.overlay h3{
margin-bottom:10px;
font-size:22px;
}

.overlay p{
font-size:14px;
line-height:1.5;
}

footer{
background:black;
padding:50px;
display:flex;
justify-content:space-between;
align-items:center;
}

.contact{
border:2px solid #ff5b00;
padding:20px 30px;
color:#ff5b00;
}